# Copyright (c) 2019, 2020 Oracle Corporation and/or affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl

# provider identity parameters

api_fingerprint = ""

api_private_key_path = ""

region = ""

tenancy_id = ""

user_id = ""

# general oci parameters

compartment_id = ""

label_prefix = "dev"

# network parameters

availability_domain = 1

nat_route_id = ""

netnum = 33

newbits = 13

nsg_ids = []

vcn_id = ""

operating_system_version = "8"

create_operator = true

operator_image_id = "Oracle"

operator_instance_principal = true

operator_shape = {
  # shape = "VM.Standard.E2.2"
  shape="VM.Standard.E4.Flex",
  ocpus=1,
  memory=4,
  boot_volume_size=50
}

operator_state= "RUNNING"

operator_timezone = "Australia/Sydney"

ssh_public_key = ""

ssh_public_key_path = ""

upgrade_operator = false

# notification

notification_enabled = false

notification_endpoint = ""

notification_protocol = "EMAIL"

notification_topic = "operator"

tags = {
    department  = "finance"
    environment = "dev"
    role        = "operator"
}
