# Copyright (c) 2019, 2021 Oracle Corporation and/or affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl

# provider identity parameters

tenancy_id = ""

# general oci parameters
compartment_id = ""

label_prefix = "dev"

# network parameters
availability_domain = 1

nat_route_id = ""

netnum = 33

newbits = 13

nsg_ids = []

vcn_id = ""

# operator host parameters
freeform_tags = {
    access      = "restricted"
    environment = "dev"
    role        = "operator"
}

operating_system_version = "8"

operator_image_id = "Oracle"

enable_operator_instance_principal = true

operating_os_version = "8"

operator_shape = {
  # shape = "VM.Standard.E2.2"
  shape="VM.Standard.E4.Flex",
  ocpus=1,
  memory=4,
  boot_volume_size=50
}

operator_state= "RUNNING"

operator_timezone = "Australia/Sydney"

ssh_public_key = ""

ssh_public_key_path = ""

upgrade_operator = false

# notification

enable_operator_notification = false

operator_notification_endpoint = ""

operator_notification_protocol = "EMAIL"

operator_notification_topic = "operator"